.pokemon_container {
    border-radius: 12px;
    text-transform: uppercase;
    padding: 32px;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}

.pokemon_wrapper {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;

}

.left-content {

}

.poke_title {
    margin-bottom: 30px;
    color: #1B76D2;
}

.right-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right_img {
    padding: 40px;
}
