.pokemon_container {
    border-radius: 12px;
    text-transform: uppercase;
    padding: 32px;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}

.pokemon_wrapper {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;

}

.left-content {
}

.poke_title {
    margin-bottom: 30px;
    color: blue;
}

.right-content {
    /*width: 50%;*/
    text-align: center;
}

.right_img {
    padding: 40px;
}

.abilities {
    display: flex;
    gap: 16px 50px;
    justify-content: center;
    flex-wrap: wrap;
}

.group {
    background-color: coral;
    border-radius: 12px;
    align-items: center;
    padding: 10px;
}
