.pokemon_container {
    display: flex;
    border: 2px solid black;
    border-radius: 12px;
    margin: 100px 300px;
    text-transform: uppercase;
    background-image: url("../../assets/icons/back-pikachu.png");
}

.left-content {
    flex-basis: 50%;
    margin: 100px;
}

.poke_title {
    margin-bottom: 30px;
    color: blue;
}

.right-content {
    flex-basis: 50%;
    width: 50%;
    text-align: center;
    margin: 100px;
}

.right_img {
    padding: 40px;
}

.abilities {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.group {
    background-color: coral;
    border-radius: 12px;
    align-items: center;
    padding: 10px;
}
